/* Switch style */
.theme-switch {
  width: 75px;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.theme-switch .circle {
  background: #ccc;
  width: 100%;
  height: 10px;
  border-radius: 30px;
  box-shadow: inset 2px 2px 4px rgb(0, 0, 0, 0.5);
}

.theme-switch .dot {
  background: #626262;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  left: 0%;
}

.theme-switch .dot.move {
  left: calc(100% - 30px);
}

/* overlay */
.overlay {
  background: rgb(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 150;
  top: 0px;
  left: 0px;
  display: none;
}

.overlay.show {
  display: flex;
}

.book-details {
  background: white;
  border-radius: 10px;
  height: 80%;
  width: 60%;
  position: fixed;
  z-index: 155;
  left: 18%;
  top: 10%;
  display: flex;
  padding: 20px 2%;
  display: none;
}

.book-details h3,p{
  margin: 0;
}
.book-details p{
  margin: 12px 0;
}

.book-details.show {
  display: flex;
}

.book-details .left {
  flex: 1;
}

.book-details .right {
  flex: 1;
  overflow-y: auto;
}

.viewed-book-cover {
  width: 90%;
  height: 100%;
  background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQttbZNVGzKnwLBGXrKBkt0VY2J2DubjnH_lSQrJCzdSf5fe4OK8yUM27EYhteFc68Ii7Xr9g");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}
