/* Switch style */
.theme-switch {
  width: 75px;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.theme-switch .circle {
  background: #ccc;
  width: 100%;
  height: 10px;
  border-radius: 30px;
  box-shadow: inset 2px 2px 4px rgb(0, 0, 0, 0.5);
}

.theme-switch .dot {
  background: #626262;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  left: 0%;
}

.theme-switch .dot.move {
  left: calc(100% - 30px);
}

/* overlay */
.overlay {
  background: rgb(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 150;
  top: 0px;
  left: 0px;
  display: none;
}

.overlay.show {
  display: flex;
}

.book-details {
  background: white;
  border-radius: 10px;
  height: 80%;
  width: 60%;
  position: fixed;
  z-index: 155;
  left: 18%;
  top: 10%;
  display: flex;
  padding: 20px 2%;
  display: none;
}

.book-details h3,
p {
  margin: 0;
}
.book-details p {
  margin: 12px 0;
}

.book-details.show {
  display: flex;
}

.book-details .left {
  flex: 1;
}

.book-details .right {
  flex: 1;
  overflow-y: auto;
  margin-right: 10px;
}

.viewed-book-cover {
  width: 90%;
  height: 100%;
  background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQttbZNVGzKnwLBGXrKBkt0VY2J2DubjnH_lSQrJCzdSf5fe4OK8yUM27EYhteFc68Ii7Xr9g");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  border-radius: 5px;
}

.favorites-panel {
  height: 95vh;
  width: 380px;
  background: white;
  position: absolute;
  right: -400px;
  top: 0px;
  z-index: 160;
  transition: .5s ease-in-out;
  padding: 2.5vh 10px;
}

.favorites-panel h1{
  margin-left: 15px;
}

.favorites-panel.open-panel{
  right: 0px;
}

.favorite-books{

}

.favorite-book{
  width: 90%;
  margin: 10px 5%;
  background: #e9e9e9;
  display: flex;
  border-radius: 5px;
  padding: 5px;
}

.favorite-book h2{ 
  margin: 0px;
}

.favorite-book-cover{
  width: 50px;
  height: 75px;
  background: black;
  margin: 5px;
}

.favorite-book-text{

}

/* scroll-bar */

* {
  scrollbar-width: thin; 
  scrollbar-color: #888 #f1f1f1; 
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}