.image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  background: rgb(0, 0, 0, 0.8);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 150;
  top: 0px;
  left: 0px;
  display: none;
}

.overlay.show {
  display: flex;
}

.book-details {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  height: 70%;
  width: 50%;
  position: fixed;
  z-index: 155;
  left: 23%;
  top: 10%;
  display: flex;
  padding: 20px 2%;
  display: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
}

.book-details h3,
p {
  margin: 0;
}

.book-details p {
  margin: 5px 0;
  font-size: 13px;
}

.book-details h3 {
  margin-top: 10px;
}

.book-details.show {
  display: flex;
}

.book-details .left {
  flex: 1;
}

.book-details .right {
  flex: 1;
  overflow-y: auto;
  margin-right: 10px;
  padding: 10px;
}

.viewed-book-cover {
  width: 75%;
  height: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  margin: 10% auto;
  box-shadow: 2px 5px 10px rgb(0, 0, 0, 0.8);
}


.viewed-book-cover::before {
  content: "";
  display: block;
  width: 10px;
  height: 100%;
  background: rgb(177, 177, 177);
  position: absolute;
  top: -6px;
  right: -10px;
  transform: skewY(-50deg);
  z-index: -1;
  box-shadow: inset -3px -3px 1px rgb(0, 0, 0, 0.3);
  border-radius: 0 5px 3px 0;
}

.viewed-book-cover::after {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  background: rgb(231, 231, 231);
  position: absolute;
  top: -10px;
  left: 6px;
  transform: skewX(-50deg);
  z-index: -1;
  box-shadow: inset 3px 3px 1px rgb(0, 0, 0, 0.3);
  border-radius: 10px 5px 0 0;
}