.favorites-panel {
  height: 95vh;
  width: 370px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(10px);
  position: fixed;
  right: -400px;
  top: 0px;
  z-index: 160;
  transition: 0.5s ease-in-out;
  padding: 2.5vh 15px;
}

.favorites-panel h1 {
  margin-left: 15px;
}

.favorites-panel.open-panel {
  right: 0px;
}

.favorite-books {
  overflow-y: auto;
  height: 90%;
  width: 95%;
  padding-right: 5%;
}

.favorite-book {
  display: flex;
  padding: 10px 10px;
  margin: 10px;
  height: 70px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.3);
}

.favorite-book h2 {
  margin: 0px;
}

.favorite-book-cover {
  width: 60px;
  height: 70px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.favorite-book-cover::before {
  content: "";
  display: block;
  width: 7px;
  height: 100%;
  background: rgb(177, 177, 177);
  position: absolute;
  top: -4px;
  right: -7px;
  transform: skewY(-50deg);
  z-index: -1;
  box-shadow: inset -3px -3px 1px rgb(0, 0, 0, 0.3);
}

.favorite-book-cover::after {
  content: "";
  display: block;
  width: 100%;
  height: 7px;
  background: rgb(231, 231, 231);
  position: absolute;
  top: -7px;
  left: 4px;
  transform: skewX(-50deg);
  z-index: -1;
  box-shadow: inset 3px 3px 1px rgb(0, 0, 0, 0.3);
}

.favorite-book-text {
  height: 100%;
  width: 100%;
  position: relative;
  padding-left: 20px;
}

.remove-favorite {
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  right: 20px;
  box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.3);
}

.remove-favorite:hover {
  background: black;
  color: white;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.message-pop-up {
  position: fixed;
  bottom: 30px;
  left: 10%;
  transform: translateX(-50%) scale(0.9);
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  z-index: 1000;
}

.message-pop-up.show {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}
