.dark-panel {
  background: rgb(49, 49, 49);
  color: white;
   background: rgba(115, 115, 115, 0.2);
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
}

.header.dark-panel * {
  color: white;
}

.white-color {
  color: rgb(226, 226, 226);
}

