.theme-switch {
  width: 75px;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.theme-switch .circle {
  background: #ccc;
  width: 100%;
  height: 10px;
  border-radius: 30px;
  box-shadow: inset 2px 2px 2px rgb(0, 0, 0, 0.5);
}

.theme-switch .dot {
  background: #000000;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  left: 0%;
  box-shadow: 2px 2 5px rgba(74, 74, 74, 0.7);
}

.theme-switch .dot:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.theme-switch .dot.move {
  left: calc(100% - 30px);
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.dot.move:hover {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}


.dark-panel {
  background: rgb(49, 49, 49);
  color: white;
  background: rgba(115, 115, 115, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.dark-panel.active-genre {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.header.dark-panel * {
  color: white;
}

.white-color {
  color: rgb(226, 226, 226);
}

